<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /chatbot-api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
